// 一些公共样式

// 鼠标悬浮变小手
.hover-pointer {
  cursor: pointer;
}

/* 禁用行样式（置灰） */
.disabled-row {
  color: #c0c4cc; /* 浅灰色，模拟禁用态 */
  background-color: #f8f9fa; /* 浅背景强化区分 */
}

// 列表容器
.main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: $main-padding;
  overflow: auto;
}

// 增删改查卡片样式
.operation-card {
  width: 100%;
  height: $operation-card-height;

  > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .search-container {
    display: flex;
    gap: $main-padding;
  }
}

// 表格卡片样式
.table-card {
  width: 100%;
  overflow: auto;
  $parent-height: calc(1px + $base-child-nav-height + $base-tabbar-height + $operation-card-height + $main-padding * 5);
  height: calc(100vh - $parent-height);

  > div {
    height: calc(100vh - $parent-height);
  }
}

// 抽屉按钮样式
.drawer-buttons {
  display: flex;
  gap: $main-padding;
  padding: 10px 80px;
}
