//引入清除默认样式
@import './variable.scss';
@import './reset.scss';
@import './global.scss';
@import './mixins.scss';

//滚动条外观设置
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  // background: $theme-color;
}

::-webkit-scrollbar-thumb {
  // width: 10px;
  // background-color: $theme-color;
  // border-radius: 10px;
}

body {
  background-color: $base-bg;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
